/* Header Container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    margin-left: 13rem; /* Adjust to match the width of the sidebar */
    width: calc(100% - 15rem); /* Ensure the header fills the remaining space */
  }
  
  /* Title Section */
  .header-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .header-title span {
    color: #1abc9c; /* Greenish accent */
  }
  
  /* Avatar Section */
  .header-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f39c12; /* Orange */
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Makes it circular */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
  }
  