.add-image-container {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 14rem;
    margin-top: 1rem;
  }
  
  .add-image-btn {
    display: flex;
    align-items: center; /* Aligns icon and text vertically */
    gap: 1px; /* Space between text and icon */
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #001F3F; /* Blue */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-image-btn:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }
  
  .btn-text {
    margin-right: 5px; /* Optional additional spacing for the text */
  }
  
  .btn-icon {
    margin-left: 5px; /* Optional additional spacing for the icon */
  }